.Button
  text-transform: none
  --border-radius: 5px
  --border-width: 2px
  --border-color: var(--ion-color-light-contrast)

.Input
  $inputSidePadding: 1em
  border-width: 2px
  border-color: var(--ion-color-light-contrast)

  &:focus-within
    border-color: var(--ion-color-light-contrast)

  input
    padding: .5em $inputSidePadding

  span
    left: $inputSidePadding !important
    color: var(--ion-color-step-500) !important

.TopBackgroundSpacer
  height: 14%

  &.High
    height: 30%

.BackgroundLayer
  background-color: var(--verto-background)
  border-top: 1px solid var(--verto-seperate)
  height: 86%
  padding: 0 .5em

  &.Short
    height: 70%

.Card
  border: 1px solid var(--verto-card-border)
  border-radius: 5px
  box-shadow: var(--verto-card-shadow)