.Button
  text-transform: none
  --border-radius: 5px
  --border-width: 2px
  --border-color: var(--ion-color-light-contrast)

.Input
  $inputSidePadding: 1em
  border-width: 2px
  border-color: var(--ion-color-light-contrast)

  &:focus-within
    border-color: var(--ion-color-light-contrast)

  input
    padding: .5em $inputSidePadding

  span
    left: $inputSidePadding !important
    color: var(--ion-color-step-500) !important

.TopBackgroundSpacer
  position: relative
  height: 14%

  &.High
    height: 37%

.BackgroundLayer
  background-color: var(--verto-background)
  border-top: 1px solid var(--verto-seperate)
  min-height: 86%
  padding: 0 .5em .2em

  &.Short
    min-height: 63%

.Card
  border: 1px solid var(--verto-card-border)
  border-radius: 6px
  box-shadow: var(--verto-card-shadow)
  margin:
    top: 2.5em
    bottom: 2.5em

  &.ListItem
    margin:
      top: 1.8em
      bottom: 1.8em
    cursor: pointer

    &:first-child
      margin-top: 0

  .CardTitle
    font-size: var(--verto-title-font-size)
    font-weight: 600
    color: var(--ion-color-light-contrast)

  .CardFooter
    border-top: 1px solid var(--verto-seperate)
    --min-height: 1em

  .view-all
    padding: .47em 0
    border: none
    margin: 0

    svg
      margin-left: .3em
      font-size: 1.2em

.ShortTitle
  position: absolute
  top: 50%
  left: 0
  right: 0
  transform: translateY(-50%)