.Tabs
  --background: var(--verto-background)
  
.TabBar
  padding: .5em 20% .9em
  background: var(--verto-background)
  --border: none

.Item
  --padding-start: 0
  --padding-end: 0
  --background: transparent
  --border: none

.Cover
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0