.TokenDisplay
  --inner-padding-start: 0
  --inner-padding-end: 0
  --padding-start: 0
  --padding-end: 0
  border-radius: 4px
  overflow: hidden

  .Logo
    width: 2em
    height: 2em
    margin-right: .7em

  .PST, .Balance
    line-height: 1em

  .PST
    font-size: 1.5em
    font-weight: 500

  .Balance
    font-size: 1.05em
    font-family: var(--code-font-family)
    color: var(--verto-secondary-text)
    text-transform: uppercase