.TokenDisplay
  --inner-padding-start: 0
  --inner-padding-end: 0
  --padding-start: 0
  --padding-end: 0
  border-radius: 4px
  overflow: hidden
  cursor: pointer

  .Logo, .LoadingLogo, .NoLogo
    position: relative
    display: block
    width: auto
    height: 2em
    margin-right: .7em

    &.LoadingLogo
      width: 2em
      border-radius: 100%

    &.NoLogo
      border-radius: 100%
      width: 2em
      background-color: var(--verto-background)

      svg
        position: absolute
        top: 50%
        left: 50%
        width: 75%
        height: 75%
        font-size: 1em
        transform: translate(-50%, -50%)

  .PST, .Balance
    line-height: 1em
    margin: 0

  .PST
    font-size: 1.5em
    font-weight: 500

  .Balance
    font-size: 1.05em
    font-family: var(--code-font-family)
    color: var(--verto-secondary-text)
    text-transform: uppercase

  &.Full
    height: auto
    --min-height: auto
    --background: transparent

    .Logo, .LoadingLogo, .NoLogo
      $fullLogoWidth: 2.6em
      width: $fullLogoWidth
      height: $fullLogoWidth
      margin-right: 1em

      &.LoadingLogo
        width: $fullLogoWidth
        height: $fullLogoWidth

    .PST
      font-size: 1.6em

      .Ticker
        display: block
        font-size: .72em
        font-family: var(--code-font-family)
        color: var(--verto-secondary-text)
        text-transform: uppercase

    .Balance
      font-size: 1.15em
