.Content
  text-align: center
  
  .Title
    font-size: 1.6em
    font-weight: 400
    margin: 0
      bottom: .3em

  p
    margin-top: 0

  .Inputs
    text-align: left

    .Amount
      margin-bottom: 1em

    span
      font-family: var(--ion-font-family)
      font-weight: 500

    .InputChild
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 1.25em
      width: 100%
      cursor: pointer

      &.InputChildSelect
        position: relative

        svg
          position: absolute
          top: 50%
          right: 0
          transform: translateY(-50%)

      .QRCode
        display: block
        width: 1.15em
        height: 1.15em

.Select
  padding: 0
  font-family: var(--code-font-family)
  width: 100%

  &::part(icon)
    display: none !important

.SelectActionSheet
  --button-color-selected: var(--ion-color-primary)
  --button-color-hover: var(--ion-color-primary)
  --button-color-focused: var(--ion-color-primary)