.Slideshow
  height: 100%

.Image
  display: block
  margin: 0 auto
  width: 40vw
  max-width: 10em
  height: auto

.Title
  font-size: 2.5em
  font-weight: 700
  text-align: center

.Button
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.23em

  svg
    margin-left: .33em

.JustifyContent
  padding: 1.2em
  text-align: justify