.Swap
  margin-top: var(--verto-small-header-section-minus-margin)

.Balance
  color: var(--ion-color-light-contrast)

  p
    text-transform: uppercase
    font-size: 1em
    font-weight: 500
    margin: 0
      bottom: .27em

  h1
    font-size: 2.75em
    font-weight: 600
    margin: 0
      bottom: .15em

    span
      font-size: .565em

  .viewProfile
    cursor: pointer
    color: var(--ion-color-light-contrast)
    display: flex
    font-size: 1.2em
    align-items: center

    svg
      margin-left: .3em
      height: 1em

.SwapForm
  span
    font-family: var(--ion-font-family) !important
    font-weight: 500 !important
    color: var(--verto-secondary-text)

  .Input
    margin-bottom: 1em

    .Ticker
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 1.6em
      width: 100%
      cursor: pointer
      padding: 0 .2em
    
    input
      font-size: 1.5em
      padding: 
        top: .07em
        bottom: .07em

  .Button
    font-size: 1.1em

.Order
  font-family: var(--code-font-family)
  --inner-padding-start: 0
  --inner-padding-end: 0
  --padding-bottom: 0
  --padding-top: 0
  --padding-start: 0
  --padding-end: 0
  --border-radius: 2px
  --min-height: 1em
  padding: .45em 0
  cursor: pointer

  svg
    margin: 0 1em
    font-size: 1.2em

  .Status
    width: 6px
    height: 6px
    border-radius: 100%
    margin-left: 1em

    &.Success
      background-color: var(--ion-color-success)

    &.Error
      background-color: var(--ion-color-danger)

    &.Warning
      background-color: var(--ion-color-warning)

.ModalContent
  text-align: center
  
  h1
    font-size: 1.6em
    font-weight: 400
    margin: 0
      bottom: .3em

  p
    margin-top: 0