.Token
  margin-top: var(--verto-small-header-section-minus-margin)

.Balance
  display: flex
  align-items: flex-start
  justify-content: space-between
  color: var(--ion-color-light-contrast)
  margin-bottom: 1em

  h1
    display: flex
    align-items: center
    font-size: 2.07em
    font-weight: 600

    img, .LoadingLogo, .NoLogo
      height: 1em
      margin-right: .23em

      &.LoadingLogo, &.NoLogo
        width: 1em
        border-radius: 100%

      &.NoLogo
        position: relative
        background-color: var(--verto-background)

        svg
          position: absolute
          top: 50%
          left: 50%
          width: 77%
          height: 77%
          font-size: 1em
          transform: translate(-50%, -50%)

  span
    font-size: 1.37em
    font-family: var(--code-font-family)
    text-align: right

.TokenInfo
  display: flex
  align-items: flex-start
  justify-content: space-between
  font-family: var(--code-font-family)
  margin-bottom: .5em

  h1
    font-size: 1.85em
    color: var(--ion-color-light-contrast)

    &:last-child
      text-align: right
      align-items: end

    span
      display: block
      text-align: right
      font-size: .835em

      &.Increase
        color: var(--ion-color-success)

      &.Decrease
        color: var(--ion-color-danger)

.About, .Metrics
  p, li
    font-family: var(--code-font-family)
    color: var(--ion-color-light-contrast)
    font-size: 1.25em

    a
      color: var(--ion-color-primary)
      cursor: pointer

  .Description
    text-align: justify

  ul > li
    padding-left: .6em

    p
      cursor: pointer
      display: inline-block
      color: var(--ion-color-primary)
      font-size: 1em

    &::before
      color: var(--ion-color-light-contrast)
      margin-left: -1.2em

.TokenActions
  position: sticky
  bottom: 0
  left: 0
  right: 0
  padding: .7em 1em
  background-color: var(--verto-background)

  .Button
    font-size: 1.05em

.Graph
  position: relative
  min-height: 150px

  .Loading
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)